[Desktop Entry]
Type=Application
Name=Hide Desktop Icons
Exec=sh -c 'for p in show-home show-filesystem show-trash show-removable; do xfconf-query -c xfce4-desktop -p /desktop-icons/file-icons/$p -n -t bool -s false ; done'
X-GNOME-Autostart-enabled=true
